/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$accept-hover-name: 'accept-hover';
$accept-hover-x: 62px;
$accept-hover-y: 192px;
$accept-hover-offset-x: -62px;
$accept-hover-offset-y: -192px;
$accept-hover-width: 26px;
$accept-hover-height: 26px;
$accept-hover-total-width: 276px;
$accept-hover-total-height: 255px;
$accept-hover-image: 'sprite.png';
$accept-hover: (62px, 192px, -62px, -192px, 26px, 26px, 276px, 255px, 'sprite.png', 'accept-hover', );
$accept-name: 'accept';
$accept-x: 93px;
$accept-y: 192px;
$accept-offset-x: -93px;
$accept-offset-y: -192px;
$accept-width: 26px;
$accept-height: 26px;
$accept-total-width: 276px;
$accept-total-height: 255px;
$accept-image: 'sprite.png';
$accept: (93px, 192px, -93px, -192px, 26px, 26px, 276px, 255px, 'sprite.png', 'accept', );
$add-name: 'add';
$add-x: 127px;
$add-y: 0px;
$add-offset-x: -127px;
$add-offset-y: 0px;
$add-width: 30px;
$add-height: 30px;
$add-total-width: 276px;
$add-total-height: 255px;
$add-image: 'sprite.png';
$add: (127px, 0px, -127px, 0px, 30px, 30px, 276px, 255px, 'sprite.png', 'add', );
$add2-name: 'add2';
$add2-x: 127px;
$add2-y: 35px;
$add2-offset-x: -127px;
$add2-offset-y: -35px;
$add2-width: 30px;
$add2-height: 30px;
$add2-total-width: 276px;
$add2-total-height: 255px;
$add2-image: 'sprite.png';
$add2: (127px, 35px, -127px, -35px, 30px, 30px, 276px, 255px, 'sprite.png', 'add2', );
$arr-down-black-name: 'arr-down-black';
$arr-down-black-x: 261px;
$arr-down-black-y: 157px;
$arr-down-black-offset-x: -261px;
$arr-down-black-offset-y: -157px;
$arr-down-black-width: 14px;
$arr-down-black-height: 8px;
$arr-down-black-total-width: 276px;
$arr-down-black-total-height: 255px;
$arr-down-black-image: 'sprite.png';
$arr-down-black: (261px, 157px, -261px, -157px, 14px, 8px, 276px, 255px, 'sprite.png', 'arr-down-black', );
$arr-down-name: 'arr-down';
$arr-down-x: 261px;
$arr-down-y: 209px;
$arr-down-offset-x: -261px;
$arr-down-offset-y: -209px;
$arr-down-width: 9px;
$arr-down-height: 6px;
$arr-down-total-width: 276px;
$arr-down-total-height: 255px;
$arr-down-image: 'sprite.png';
$arr-down: (261px, 209px, -261px, -209px, 9px, 6px, 276px, 255px, 'sprite.png', 'arr-down', );
$arr-up-black-name: 'arr-up-black';
$arr-up-black-x: 261px;
$arr-up-black-y: 144px;
$arr-up-black-offset-x: -261px;
$arr-up-black-offset-y: -144px;
$arr-up-black-width: 14px;
$arr-up-black-height: 8px;
$arr-up-black-total-width: 276px;
$arr-up-black-total-height: 255px;
$arr-up-black-image: 'sprite.png';
$arr-up-black: (261px, 144px, -261px, -144px, 14px, 8px, 276px, 255px, 'sprite.png', 'arr-up-black', );
$arr-up-name: 'arr-up';
$arr-up-x: 261px;
$arr-up-y: 220px;
$arr-up-offset-x: -261px;
$arr-up-offset-y: -220px;
$arr-up-width: 8px;
$arr-up-height: 5px;
$arr-up-total-width: 276px;
$arr-up-total-height: 255px;
$arr-up-image: 'sprite.png';
$arr-up: (261px, 220px, -261px, -220px, 8px, 5px, 276px, 255px, 'sprite.png', 'arr-up', );
$calendar-name: 'calendar';
$calendar-x: 174px;
$calendar-y: 192px;
$calendar-offset-x: -174px;
$calendar-offset-y: -192px;
$calendar-width: 16px;
$calendar-height: 17px;
$calendar-total-width: 276px;
$calendar-total-height: 255px;
$calendar-image: 'sprite.png';
$calendar: (174px, 192px, -174px, -192px, 16px, 17px, 276px, 255px, 'sprite.png', 'calendar', );
$cancel-name: 'cancel';
$cancel-x: 81px;
$cancel-y: 86px;
$cancel-offset-x: -81px;
$cancel-offset-y: -86px;
$cancel-width: 26px;
$cancel-height: 26px;
$cancel-total-width: 276px;
$cancel-total-height: 255px;
$cancel-image: 'sprite.png';
$cancel: (81px, 86px, -81px, -86px, 26px, 26px, 276px, 255px, 'sprite.png', 'cancel', );
$close-hover-name: 'close-hover';
$close-hover-x: 128px;
$close-hover-y: 228px;
$close-hover-offset-x: -128px;
$close-hover-offset-y: -228px;
$close-hover-width: 15px;
$close-hover-height: 15px;
$close-hover-total-width: 276px;
$close-hover-total-height: 255px;
$close-hover-image: 'sprite.png';
$close-hover: (128px, 228px, -128px, -228px, 15px, 15px, 276px, 255px, 'sprite.png', 'close-hover', );
$close-service-name: 'close-service';
$close-service-x: 150px;
$close-service-y: 192px;
$close-service-offset-x: -150px;
$close-service-offset-y: -192px;
$close-service-width: 19px;
$close-service-height: 19px;
$close-service-total-width: 276px;
$close-service-total-height: 255px;
$close-service-image: 'sprite.png';
$close-service: (150px, 192px, -150px, -192px, 19px, 19px, 276px, 255px, 'sprite.png', 'close-service', );
$close-name: 'close';
$close-x: 148px;
$close-y: 228px;
$close-offset-x: -148px;
$close-offset-y: -228px;
$close-width: 15px;
$close-height: 15px;
$close-total-width: 276px;
$close-total-height: 255px;
$close-image: 'sprite.png';
$close: (148px, 228px, -148px, -228px, 15px, 15px, 276px, 255px, 'sprite.png', 'close', );
$close2-name: 'close2';
$close2-x: 261px;
$close2-y: 183px;
$close2-offset-x: -261px;
$close2-offset-y: -183px;
$close2-width: 8px;
$close2-height: 8px;
$close2-total-width: 276px;
$close2-total-height: 255px;
$close2-image: 'sprite.png';
$close2: (261px, 183px, -261px, -183px, 8px, 8px, 276px, 255px, 'sprite.png', 'close2', );
$close3-name: 'close3';
$close3-x: 261px;
$close3-y: 170px;
$close3-offset-x: -261px;
$close3-offset-y: -170px;
$close3-width: 8px;
$close3-height: 8px;
$close3-total-width: 276px;
$close3-total-height: 255px;
$close3-image: 'sprite.png';
$close3: (261px, 170px, -261px, -170px, 8px, 8px, 276px, 255px, 'sprite.png', 'close3', );
$counter-message-name: 'counter-message';
$counter-message-x: 0px;
$counter-message-y: 124px;
$counter-message-offset-x: 0px;
$counter-message-offset-y: -124px;
$counter-message-width: 31px;
$counter-message-height: 29px;
$counter-message-total-width: 276px;
$counter-message-total-height: 255px;
$counter-message-image: 'sprite.png';
$counter-message: (0px, 124px, 0px, -124px, 31px, 29px, 276px, 255px, 'sprite.png', 'counter-message', );
$dollar2-name: 'dollar2';
$dollar2-x: 261px;
$dollar2-y: 14px;
$dollar2-offset-x: -261px;
$dollar2-offset-y: -14px;
$dollar2-width: 9px;
$dollar2-height: 15px;
$dollar2-total-width: 276px;
$dollar2-total-height: 255px;
$dollar2-image: 'sprite.png';
$dollar2: (261px, 14px, -261px, -14px, 9px, 15px, 276px, 255px, 'sprite.png', 'dollar2', );
$dollar3-name: 'dollar3';
$dollar3-x: 261px;
$dollar3-y: 34px;
$dollar3-offset-x: -261px;
$dollar3-offset-y: -34px;
$dollar3-width: 9px;
$dollar3-height: 15px;
$dollar3-total-width: 276px;
$dollar3-total-height: 255px;
$dollar3-image: 'sprite.png';
$dollar3: (261px, 34px, -261px, -34px, 9px, 15px, 276px, 255px, 'sprite.png', 'dollar3', );
$dropdown-name: 'dropdown';
$dropdown-x: 140px;
$dropdown-y: 124px;
$dropdown-offset-x: -140px;
$dropdown-offset-y: -124px;
$dropdown-width: 17px;
$dropdown-height: 17px;
$dropdown-total-width: 276px;
$dropdown-total-height: 255px;
$dropdown-image: 'sprite.png';
$dropdown: (140px, 124px, -140px, -124px, 17px, 17px, 276px, 255px, 'sprite.png', 'dropdown', );
$euro2-name: 'euro2';
$euro2-x: 261px;
$euro2-y: 90px;
$euro2-offset-x: -261px;
$euro2-offset-y: -90px;
$euro2-width: 10px;
$euro2-height: 13px;
$euro2-total-width: 276px;
$euro2-total-height: 255px;
$euro2-image: 'sprite.png';
$euro2: (261px, 90px, -261px, -90px, 10px, 13px, 276px, 255px, 'sprite.png', 'euro2', );
$euro3-name: 'euro3';
$euro3-x: 261px;
$euro3-y: 126px;
$euro3-offset-x: -261px;
$euro3-offset-y: -126px;
$euro3-width: 9px;
$euro3-height: 13px;
$euro3-total-width: 276px;
$euro3-total-height: 255px;
$euro3-image: 'sprite.png';
$euro3: (261px, 126px, -261px, -126px, 9px, 13px, 276px, 255px, 'sprite.png', 'euro3', );
$export-name: 'export';
$export-x: 0px;
$export-y: 86px;
$export-offset-x: 0px;
$export-offset-y: -86px;
$export-width: 33px;
$export-height: 33px;
$export-total-width: 276px;
$export-total-height: 255px;
$export-image: 'sprite.png';
$export: (0px, 86px, 0px, -86px, 33px, 33px, 276px, 255px, 'sprite.png', 'export', );
$export2-hover-name: 'export2-hover';
$export2-hover-x: 197px;
$export2-hover-y: 32px;
$export2-hover-offset-x: -197px;
$export2-hover-offset-y: -32px;
$export2-hover-width: 30px;
$export2-hover-height: 27px;
$export2-hover-total-width: 276px;
$export2-hover-total-height: 255px;
$export2-hover-image: 'sprite.png';
$export2-hover: (197px, 32px, -197px, -32px, 30px, 27px, 276px, 255px, 'sprite.png', 'export2-hover', );
$export2-name: 'export2';
$export2-x: 197px;
$export2-y: 64px;
$export2-offset-x: -197px;
$export2-offset-y: -64px;
$export2-width: 30px;
$export2-height: 27px;
$export2-total-width: 276px;
$export2-total-height: 255px;
$export2-image: 'sprite.png';
$export2: (197px, 64px, -197px, -64px, 30px, 27px, 276px, 255px, 'sprite.png', 'export2', );
$export3-name: 'export3';
$export3-x: 197px;
$export3-y: 96px;
$export3-offset-x: -197px;
$export3-offset-y: -96px;
$export3-width: 30px;
$export3-height: 27px;
$export3-total-width: 276px;
$export3-total-height: 255px;
$export3-image: 'sprite.png';
$export3: (197px, 96px, -197px, -96px, 30px, 27px, 276px, 255px, 'sprite.png', 'export3', );
$export4-hover-name: 'export4-hover';
$export4-hover-x: 197px;
$export4-hover-y: 128px;
$export4-hover-offset-x: -197px;
$export4-hover-offset-y: -128px;
$export4-hover-width: 30px;
$export4-hover-height: 27px;
$export4-hover-total-width: 276px;
$export4-hover-total-height: 255px;
$export4-hover-image: 'sprite.png';
$export4-hover: (197px, 128px, -197px, -128px, 30px, 27px, 276px, 255px, 'sprite.png', 'export4-hover', );
$export4-name: 'export4';
$export4-x: 197px;
$export4-y: 0px;
$export4-offset-x: -197px;
$export4-offset-y: 0px;
$export4-width: 30px;
$export4-height: 27px;
$export4-total-width: 276px;
$export4-total-height: 255px;
$export4-image: 'sprite.png';
$export4: (197px, 0px, -197px, 0px, 30px, 27px, 276px, 255px, 'sprite.png', 'export4', );
$filter-name: 'filter';
$filter-x: 106px;
$filter-y: 124px;
$filter-offset-x: -106px;
$filter-offset-y: -124px;
$filter-width: 29px;
$filter-height: 29px;
$filter-total-width: 276px;
$filter-total-height: 255px;
$filter-image: 'sprite.png';
$filter: (106px, 124px, -106px, -124px, 29px, 29px, 276px, 255px, 'sprite.png', 'filter', );
$import-name: 'import';
$import-x: 36px;
$import-y: 124px;
$import-offset-x: -36px;
$import-offset-y: -124px;
$import-width: 31px;
$import-height: 29px;
$import-total-width: 276px;
$import-total-height: 255px;
$import-image: 'sprite.png';
$import: (36px, 124px, -36px, -124px, 31px, 29px, 276px, 255px, 'sprite.png', 'import', );
$lat2-name: 'lat2';
$lat2-x: 261px;
$lat2-y: 72px;
$lat2-offset-x: -261px;
$lat2-offset-y: -72px;
$lat2-width: 10px;
$lat2-height: 13px;
$lat2-total-width: 276px;
$lat2-total-height: 255px;
$lat2-image: 'sprite.png';
$lat2: (261px, 72px, -261px, -72px, 10px, 13px, 276px, 255px, 'sprite.png', 'lat2', );
$lat3-name: 'lat3';
$lat3-x: 261px;
$lat3-y: 108px;
$lat3-offset-x: -261px;
$lat3-offset-y: -108px;
$lat3-width: 9px;
$lat3-height: 13px;
$lat3-total-width: 276px;
$lat3-total-height: 255px;
$lat3-image: 'sprite.png';
$lat3: (261px, 108px, -261px, -108px, 9px, 13px, 276px, 255px, 'sprite.png', 'lat3', );
$menu-arr-name: 'menu-arr';
$menu-arr-x: 261px;
$menu-arr-y: 0px;
$menu-arr-offset-x: -261px;
$menu-arr-offset-y: 0px;
$menu-arr-width: 15px;
$menu-arr-height: 9px;
$menu-arr-total-width: 276px;
$menu-arr-total-height: 255px;
$menu-arr-image: 'sprite.png';
$menu-arr: (261px, 0px, -261px, 0px, 15px, 9px, 276px, 255px, 'sprite.png', 'menu-arr', );
$menu-list-name: 'menu-list';
$menu-list-x: 232px;
$menu-list-y: 68px;
$menu-list-offset-x: -232px;
$menu-list-offset-y: -68px;
$menu-list-width: 22px;
$menu-list-height: 28px;
$menu-list-total-width: 276px;
$menu-list-total-height: 255px;
$menu-list-image: 'sprite.png';
$menu-list: (232px, 68px, -232px, -68px, 22px, 28px, 276px, 255px, 'sprite.png', 'menu-list', );
$menu-list2-name: 'menu-list2';
$menu-list2-x: 30px;
$menu-list2-y: 228px;
$menu-list2-offset-x: -30px;
$menu-list2-offset-y: -228px;
$menu-list2-width: 22px;
$menu-list2-height: 27px;
$menu-list2-total-width: 276px;
$menu-list2-total-height: 255px;
$menu-list2-image: 'sprite.png';
$menu-list2: (30px, 228px, -30px, -228px, 22px, 27px, 276px, 255px, 'sprite.png', 'menu-list2', );
$menu-search-name: 'menu-search';
$menu-search-x: 124px;
$menu-search-y: 192px;
$menu-search-offset-x: -124px;
$menu-search-offset-y: -192px;
$menu-search-width: 21px;
$menu-search-height: 21px;
$menu-search-total-width: 276px;
$menu-search-total-height: 255px;
$menu-search-image: 'sprite.png';
$menu-search: (124px, 192px, -124px, -192px, 21px, 21px, 276px, 255px, 'sprite.png', 'menu-search', );
$menu-star-name: 'menu-star';
$menu-star-x: 165px;
$menu-star-y: 158px;
$menu-star-offset-x: -165px;
$menu-star-offset-y: -158px;
$menu-star-width: 27px;
$menu-star-height: 28px;
$menu-star-total-width: 276px;
$menu-star-total-height: 255px;
$menu-star-image: 'sprite.png';
$menu-star: (165px, 158px, -165px, -158px, 27px, 28px, 276px, 255px, 'sprite.png', 'menu-star', );
$menu-name: 'menu';
$menu-x: 162px;
$menu-y: 133px;
$menu-offset-x: -162px;
$menu-offset-y: -133px;
$menu-width: 24px;
$menu-height: 19px;
$menu-total-width: 276px;
$menu-total-height: 255px;
$menu-image: 'sprite.png';
$menu: (162px, 133px, -162px, -133px, 24px, 19px, 276px, 255px, 'sprite.png', 'menu', );
$menu3-name: 'menu3';
$menu3-x: 90px;
$menu3-y: 0px;
$menu3-offset-x: -90px;
$menu3-offset-y: 0px;
$menu3-width: 32px;
$menu3-height: 37px;
$menu3-total-width: 276px;
$menu3-total-height: 255px;
$menu3-image: 'sprite.png';
$menu3: (90px, 0px, -90px, 0px, 32px, 37px, 276px, 255px, 'sprite.png', 'menu3', );
$menu4-name: 'menu4';
$menu4-x: 0px;
$menu4-y: 46px;
$menu4-offset-x: 0px;
$menu4-offset-y: -46px;
$menu4-width: 35px;
$menu4-height: 35px;
$menu4-total-width: 276px;
$menu4-total-height: 255px;
$menu4-image: 'sprite.png';
$menu4: (0px, 46px, 0px, -46px, 35px, 35px, 276px, 255px, 'sprite.png', 'menu4', );
$menu5-name: 'menu5';
$menu5-x: 127px;
$menu5-y: 70px;
$menu5-offset-x: -127px;
$menu5-offset-y: -70px;
$menu5-width: 27px;
$menu5-height: 33px;
$menu5-total-width: 276px;
$menu5-total-height: 255px;
$menu5-image: 'sprite.png';
$menu5: (127px, 70px, -127px, -70px, 27px, 33px, 276px, 255px, 'sprite.png', 'menu5', );
$menu6-name: 'menu6';
$menu6-x: 41px;
$menu6-y: 0px;
$menu6-offset-x: -41px;
$menu6-offset-y: 0px;
$menu6-width: 44px;
$menu6-height: 32px;
$menu6-total-width: 276px;
$menu6-total-height: 255px;
$menu6-image: 'sprite.png';
$menu6: (41px, 0px, -41px, 0px, 44px, 32px, 276px, 255px, 'sprite.png', 'menu6', );
$menu7-name: 'menu7';
$menu7-x: 40px;
$menu7-y: 46px;
$menu7-offset-x: -40px;
$menu7-offset-y: -46px;
$menu7-width: 36px;
$menu7-height: 33px;
$menu7-total-width: 276px;
$menu7-total-height: 255px;
$menu7-image: 'sprite.png';
$menu7: (40px, 46px, -40px, -46px, 36px, 33px, 276px, 255px, 'sprite.png', 'menu7', );
$menu8-name: 'menu8';
$menu8-x: 0px;
$menu8-y: 192px;
$menu8-offset-x: 0px;
$menu8-offset-y: -192px;
$menu8-width: 26px;
$menu8-height: 31px;
$menu8-total-width: 276px;
$menu8-total-height: 255px;
$menu8-image: 'sprite.png';
$menu8: (0px, 192px, 0px, -192px, 26px, 31px, 276px, 255px, 'sprite.png', 'menu8', );
$menu9-name: 'menu9';
$menu9-x: 0px;
$menu9-y: 0px;
$menu9-offset-x: 0px;
$menu9-offset-y: 0px;
$menu9-width: 36px;
$menu9-height: 41px;
$menu9-total-width: 276px;
$menu9-total-height: 255px;
$menu9-image: 'sprite.png';
$menu9: (0px, 0px, 0px, 0px, 36px, 41px, 276px, 255px, 'sprite.png', 'menu9', );
$mess-name: 'mess';
$mess-x: 38px;
$mess-y: 86px;
$mess-offset-x: -38px;
$mess-offset-y: -86px;
$mess-width: 38px;
$mess-height: 26px;
$mess-total-width: 276px;
$mess-total-height: 255px;
$mess-image: 'sprite.png';
$mess: (38px, 86px, -38px, -86px, 38px, 26px, 276px, 255px, 'sprite.png', 'mess', );
$minus-name: 'minus';
$minus-x: 261px;
$minus-y: 230px;
$minus-offset-x: -261px;
$minus-offset-y: -230px;
$minus-width: 8px;
$minus-height: 2px;
$minus-total-width: 276px;
$minus-total-height: 255px;
$minus-image: 'sprite.png';
$minus: (261px, 230px, -261px, -230px, 8px, 2px, 276px, 255px, 'sprite.png', 'minus', );
$new-payment-hover-name: 'new-payment-hover';
$new-payment-hover-x: 66px;
$new-payment-hover-y: 158px;
$new-payment-hover-offset-x: -66px;
$new-payment-hover-offset-y: -158px;
$new-payment-hover-width: 28px;
$new-payment-hover-height: 29px;
$new-payment-hover-total-width: 276px;
$new-payment-hover-total-height: 255px;
$new-payment-hover-image: 'sprite.png';
$new-payment-hover: (66px, 158px, -66px, -158px, 28px, 29px, 276px, 255px, 'sprite.png', 'new-payment-hover', );
$new-payment-name: 'new-payment';
$new-payment-x: 33px;
$new-payment-y: 158px;
$new-payment-offset-x: -33px;
$new-payment-offset-y: -158px;
$new-payment-width: 28px;
$new-payment-height: 29px;
$new-payment-total-width: 276px;
$new-payment-total-height: 255px;
$new-payment-image: 'sprite.png';
$new-payment: (33px, 158px, -33px, -158px, 28px, 29px, 276px, 255px, 'sprite.png', 'new-payment', );
$new-payment2-hover-name: 'new-payment2-hover';
$new-payment2-hover-x: 132px;
$new-payment2-hover-y: 158px;
$new-payment2-hover-offset-x: -132px;
$new-payment2-hover-offset-y: -158px;
$new-payment2-hover-width: 28px;
$new-payment2-hover-height: 29px;
$new-payment2-hover-total-width: 276px;
$new-payment2-hover-total-height: 255px;
$new-payment2-hover-image: 'sprite.png';
$new-payment2-hover: (132px, 158px, -132px, -158px, 28px, 29px, 276px, 255px, 'sprite.png', 'new-payment2-hover', );
$new-payment2-name: 'new-payment2';
$new-payment2-x: 162px;
$new-payment2-y: 99px;
$new-payment2-offset-x: -162px;
$new-payment2-offset-y: -99px;
$new-payment2-width: 28px;
$new-payment2-height: 29px;
$new-payment2-total-width: 276px;
$new-payment2-total-height: 255px;
$new-payment2-image: 'sprite.png';
$new-payment2: (162px, 99px, -162px, -99px, 28px, 29px, 276px, 255px, 'sprite.png', 'new-payment2', );
$new-payment3-hover-name: 'new-payment3-hover';
$new-payment3-hover-x: 0px;
$new-payment3-hover-y: 158px;
$new-payment3-hover-offset-x: 0px;
$new-payment3-hover-offset-y: -158px;
$new-payment3-hover-width: 28px;
$new-payment3-hover-height: 29px;
$new-payment3-hover-total-width: 276px;
$new-payment3-hover-total-height: 255px;
$new-payment3-hover-image: 'sprite.png';
$new-payment3-hover: (0px, 158px, 0px, -158px, 28px, 29px, 276px, 255px, 'sprite.png', 'new-payment3-hover', );
$new-payment3-name: 'new-payment3';
$new-payment3-x: 99px;
$new-payment3-y: 158px;
$new-payment3-offset-x: -99px;
$new-payment3-offset-y: -158px;
$new-payment3-width: 28px;
$new-payment3-height: 29px;
$new-payment3-total-width: 276px;
$new-payment3-total-height: 255px;
$new-payment3-image: 'sprite.png';
$new-payment3: (99px, 158px, -99px, -158px, 28px, 29px, 276px, 255px, 'sprite.png', 'new-payment3', );
$open-operation-name: 'open-operation';
$open-operation-x: 187px;
$open-operation-y: 228px;
$open-operation-offset-x: -187px;
$open-operation-offset-y: -228px;
$open-operation-width: 22px;
$open-operation-height: 6px;
$open-operation-total-width: 276px;
$open-operation-total-height: 255px;
$open-operation-image: 'sprite.png';
$open-operation: (187px, 228px, -187px, -228px, 22px, 6px, 276px, 255px, 'sprite.png', 'open-operation', );
$open-operation2-name: 'open-operation2';
$open-operation2-x: 127px;
$open-operation2-y: 108px;
$open-operation2-offset-x: -127px;
$open-operation2-offset-y: -108px;
$open-operation2-width: 22px;
$open-operation2-height: 6px;
$open-operation2-total-width: 276px;
$open-operation2-total-height: 255px;
$open-operation2-image: 'sprite.png';
$open-operation2: (127px, 108px, -127px, -108px, 22px, 6px, 276px, 255px, 'sprite.png', 'open-operation2', );
$payment-info-hover-name: 'payment-info-hover';
$payment-info-hover-x: 232px;
$payment-info-hover-y: 0px;
$payment-info-hover-offset-x: -232px;
$payment-info-hover-offset-y: 0px;
$payment-info-hover-width: 24px;
$payment-info-hover-height: 29px;
$payment-info-hover-total-width: 276px;
$payment-info-hover-total-height: 255px;
$payment-info-hover-image: 'sprite.png';
$payment-info-hover: (232px, 0px, -232px, 0px, 24px, 29px, 276px, 255px, 'sprite.png', 'payment-info-hover', );
$payment-info-name: 'payment-info';
$payment-info-x: 232px;
$payment-info-y: 34px;
$payment-info-offset-x: -232px;
$payment-info-offset-y: -34px;
$payment-info-width: 24px;
$payment-info-height: 29px;
$payment-info-total-width: 276px;
$payment-info-total-height: 255px;
$payment-info-image: 'sprite.png';
$payment-info: (232px, 34px, -232px, -34px, 24px, 29px, 276px, 255px, 'sprite.png', 'payment-info', );
$payment-list-name: 'payment-list';
$payment-list-x: 232px;
$payment-list-y: 101px;
$payment-list-offset-x: -232px;
$payment-list-offset-y: -101px;
$payment-list-width: 22px;
$payment-list-height: 27px;
$payment-list-total-width: 276px;
$payment-list-total-height: 255px;
$payment-list-image: 'sprite.png';
$payment-list: (232px, 101px, -232px, -101px, 22px, 27px, 276px, 255px, 'sprite.png', 'payment-list', );
$payment-list2-hover-name: 'payment-list2-hover';
$payment-list2-hover-x: 232px;
$payment-list2-hover-y: 133px;
$payment-list2-hover-offset-x: -232px;
$payment-list2-hover-offset-y: -133px;
$payment-list2-hover-width: 22px;
$payment-list2-hover-height: 27px;
$payment-list2-hover-total-width: 276px;
$payment-list2-hover-total-height: 255px;
$payment-list2-hover-image: 'sprite.png';
$payment-list2-hover: (232px, 133px, -232px, -133px, 22px, 27px, 276px, 255px, 'sprite.png', 'payment-list2-hover', );
$payment-list2-name: 'payment-list2';
$payment-list2-x: 232px;
$payment-list2-y: 165px;
$payment-list2-offset-x: -232px;
$payment-list2-offset-y: -165px;
$payment-list2-width: 22px;
$payment-list2-height: 27px;
$payment-list2-total-width: 276px;
$payment-list2-total-height: 255px;
$payment-list2-image: 'sprite.png';
$payment-list2: (232px, 165px, -232px, -165px, 22px, 27px, 276px, 255px, 'sprite.png', 'payment-list2', );
$pen-name: 'pen';
$pen-x: 168px;
$pen-y: 228px;
$pen-offset-x: -168px;
$pen-offset-y: -228px;
$pen-width: 14px;
$pen-height: 15px;
$pen-total-width: 276px;
$pen-total-height: 255px;
$pen-image: 'sprite.png';
$pen: (168px, 228px, -168px, -228px, 14px, 15px, 276px, 255px, 'sprite.png', 'pen', );
$plus-name: 'plus';
$plus-x: 261px;
$plus-y: 196px;
$plus-offset-x: -261px;
$plus-offset-y: -196px;
$plus-width: 8px;
$plus-height: 8px;
$plus-total-width: 276px;
$plus-total-height: 255px;
$plus-image: 'sprite.png';
$plus: (261px, 196px, -261px, -196px, 8px, 8px, 276px, 255px, 'sprite.png', 'plus', );
$print-name: 'print';
$print-x: 162px;
$print-y: 66px;
$print-offset-x: -162px;
$print-offset-y: -66px;
$print-width: 30px;
$print-height: 28px;
$print-total-width: 276px;
$print-total-height: 255px;
$print-image: 'sprite.png';
$print: (162px, 66px, -162px, -66px, 30px, 28px, 276px, 255px, 'sprite.png', 'print', );
$print2-name: 'print2';
$print2-x: 162px;
$print2-y: 33px;
$print2-offset-x: -162px;
$print2-offset-y: -33px;
$print2-width: 30px;
$print2-height: 28px;
$print2-total-width: 276px;
$print2-total-height: 255px;
$print2-image: 'sprite.png';
$print2: (162px, 33px, -162px, -33px, 30px, 28px, 276px, 255px, 'sprite.png', 'print2', );
$printer-hover-name: 'printer-hover';
$printer-hover-x: 162px;
$printer-hover-y: 0px;
$printer-hover-offset-x: -162px;
$printer-hover-offset-y: 0px;
$printer-hover-width: 30px;
$printer-hover-height: 28px;
$printer-hover-total-width: 276px;
$printer-hover-total-height: 255px;
$printer-hover-image: 'sprite.png';
$printer-hover: (162px, 0px, -162px, 0px, 30px, 28px, 276px, 255px, 'sprite.png', 'printer-hover', );
$rotate-name: 'rotate';
$rotate-x: 197px;
$rotate-y: 160px;
$rotate-offset-x: -197px;
$rotate-offset-y: -160px;
$rotate-width: 26px;
$rotate-height: 27px;
$rotate-total-width: 276px;
$rotate-total-height: 255px;
$rotate-image: 'sprite.png';
$rotate: (197px, 160px, -197px, -160px, 26px, 27px, 276px, 255px, 'sprite.png', 'rotate', );
$rotate2-hover-name: 'rotate2-hover';
$rotate2-hover-x: 0px;
$rotate2-hover-y: 228px;
$rotate2-hover-offset-x: 0px;
$rotate2-hover-offset-y: -228px;
$rotate2-hover-width: 25px;
$rotate2-hover-height: 27px;
$rotate2-hover-total-width: 276px;
$rotate2-hover-total-height: 255px;
$rotate2-hover-image: 'sprite.png';
$rotate2-hover: (0px, 228px, 0px, -228px, 25px, 27px, 276px, 255px, 'sprite.png', 'rotate2-hover', );
$rotate2-name: 'rotate2';
$rotate2-x: 31px;
$rotate2-y: 192px;
$rotate2-offset-x: -31px;
$rotate2-offset-y: -192px;
$rotate2-width: 26px;
$rotate2-height: 27px;
$rotate2-total-width: 276px;
$rotate2-total-height: 255px;
$rotate2-image: 'sprite.png';
$rotate2: (31px, 192px, -31px, -192px, 26px, 27px, 276px, 255px, 'sprite.png', 'rotate2', );
$rotate3-hover-name: 'rotate3-hover';
$rotate3-hover-x: 82px;
$rotate3-hover-y: 228px;
$rotate3-hover-offset-x: -82px;
$rotate3-hover-offset-y: -228px;
$rotate3-hover-width: 20px;
$rotate3-hover-height: 27px;
$rotate3-hover-total-width: 276px;
$rotate3-hover-total-height: 255px;
$rotate3-hover-image: 'sprite.png';
$rotate3-hover: (82px, 228px, -82px, -228px, 20px, 27px, 276px, 255px, 'sprite.png', 'rotate3-hover', );
$rotate3-name: 'rotate3';
$rotate3-x: 57px;
$rotate3-y: 228px;
$rotate3-offset-x: -57px;
$rotate3-offset-y: -228px;
$rotate3-width: 20px;
$rotate3-height: 27px;
$rotate3-total-width: 276px;
$rotate3-total-height: 255px;
$rotate3-image: 'sprite.png';
$rotate3: (57px, 228px, -57px, -228px, 20px, 27px, 276px, 255px, 'sprite.png', 'rotate3', );
$rubl-name: 'rubl';
$rubl-x: 261px;
$rubl-y: 54px;
$rubl-offset-x: -261px;
$rubl-offset-y: -54px;
$rubl-width: 10px;
$rubl-height: 13px;
$rubl-total-width: 276px;
$rubl-total-height: 255px;
$rubl-image: 'sprite.png';
$rubl: (261px, 54px, -261px, -54px, 10px, 13px, 276px, 255px, 'sprite.png', 'rubl', );
$setting-name: 'setting';
$setting-x: 72px;
$setting-y: 124px;
$setting-offset-x: -72px;
$setting-offset-y: -124px;
$setting-width: 29px;
$setting-height: 29px;
$setting-total-width: 276px;
$setting-total-height: 255px;
$setting-image: 'sprite.png';
$setting: (72px, 124px, -72px, -124px, 29px, 29px, 276px, 255px, 'sprite.png', 'setting', );
$star-name: 'star';
$star-x: 107px;
$star-y: 228px;
$star-offset-x: -107px;
$star-offset-y: -228px;
$star-width: 16px;
$star-height: 16px;
$star-total-width: 276px;
$star-total-height: 255px;
$star-image: 'sprite.png';
$star: (107px, 228px, -107px, -228px, 16px, 16px, 276px, 255px, 'sprite.png', 'star', );
$star2-name: 'star2';
$star2-x: 195px;
$star2-y: 192px;
$star2-offset-x: -195px;
$star2-offset-y: -192px;
$star2-width: 16px;
$star2-height: 16px;
$star2-total-width: 276px;
$star2-total-height: 255px;
$star2-image: 'sprite.png';
$star2: (195px, 192px, -195px, -192px, 16px, 16px, 276px, 255px, 'sprite.png', 'star2', );
$tooltip-name: 'tooltip';
$tooltip-x: 232px;
$tooltip-y: 197px;
$tooltip-offset-x: -232px;
$tooltip-offset-y: -197px;
$tooltip-width: 22px;
$tooltip-height: 22px;
$tooltip-total-width: 276px;
$tooltip-total-height: 255px;
$tooltip-image: 'sprite.png';
$tooltip: (232px, 197px, -232px, -197px, 22px, 22px, 276px, 255px, 'sprite.png', 'tooltip', );
$warning-name: 'warning';
$warning-x: 90px;
$warning-y: 42px;
$warning-offset-x: -90px;
$warning-offset-y: -42px;
$warning-width: 30px;
$warning-height: 30px;
$warning-total-width: 276px;
$warning-total-height: 255px;
$warning-image: 'sprite.png';
$warning: (90px, 42px, -90px, -42px, 30px, 30px, 276px, 255px, 'sprite.png', 'warning', );
$spritesheet-width: 276px;
$spritesheet-height: 255px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($accept-hover, $accept, $add, $add2, $arr-down-black, $arr-down, $arr-up-black, $arr-up, $calendar, $cancel, $close-hover, $close-service, $close, $close2, $close3, $counter-message, $dollar2, $dollar3, $dropdown, $euro2, $euro3, $export, $export2-hover, $export2, $export3, $export4-hover, $export4, $filter, $import, $lat2, $lat3, $menu-arr, $menu-list, $menu-list2, $menu-search, $menu-star, $menu, $menu3, $menu4, $menu5, $menu6, $menu7, $menu8, $menu9, $mess, $minus, $new-payment-hover, $new-payment, $new-payment2-hover, $new-payment2, $new-payment3-hover, $new-payment3, $open-operation, $open-operation2, $payment-info-hover, $payment-info, $payment-list, $payment-list2-hover, $payment-list2, $pen, $plus, $print, $print2, $printer-hover, $rotate, $rotate2-hover, $rotate2, $rotate3-hover, $rotate3, $rubl, $setting, $star, $star2, $tooltip, $warning, );
$spritesheet: (276px, 255px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
